<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.highserpot.myad">

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:node="merge" />
    <application tools:node="merge">
        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2187446084708913~5433704281" />

        <activity android:name="com.com.highserpot.myad.IntentFragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>